@model Taskmato_2.DTOs.TaskListDTO

@{
    ViewBag.Title = "Create";
}

<div class="form-horizontal">
    <div class="text-center">
        <img class="mb-4 logo-sm" src="~/images/TaskmatoLogoTransparent.png" alt="Taskmato" />
        <h4>Create Task List</h4>
    </div>
    <hr />
    <div class="container">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="All"></div>
            <div class="row" id="input-row">
                <div class="col-md form-group text-center justify-content-center mx-3 py-4 rounded grey">
                    <p><strong>@Html.DisplayNameFor(model => model.Date)</strong></p>
                    <input class="form-control text-center mx-auto pb-3" asp-for="Date" asp-format="{0:MM/dd/yyyy}" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="row" id="button-row">
                <div class="col px-2 pt-3 pb-2 mx-3 my-3 text-center rounded grey">
                    <div class="row">
                        <div class="col">
                            <h4>Would you like to create this new task list?</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <div class="container text-center">
                                <input type="submit" value="Create" class="btn btn-light btn-lg mr-2" />
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="container text-center">
                                <a class="btn btn-dark btn-lg ml-2" asp-controller="TaskList" asp-action="Index">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
