@model Taskmato_2.DTOs.RegisterDTO;



<div>
    <div>
        Register for a Taskmato account!
    </div>
    <div>
        <div>
            <div asp-validation-summary="All"></div>
            <form role="form" asp-action="RegisterConfirmed" method="post" autocomplete="off">
                <div>
                    <label class="sr-only" asp-for="Email"></label>
                    <input type="email" placeholder="Email" asp-for="Email" class="form-email form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label class="sr-only" asp-for="Username"></label>
                    <input type="text" placeholder="Username" asp-for="Username" class="form-username form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div>
                    <label class="sr-only" asp-for="Password"></label>
                    <input type="password" placeholder="Password" asp-for="Password" class="form-password form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <label class="sr-only" asp-for="PasswordConfirmation"></label>
                    <input type="password" placeholder="Password Confirmation" asp-for="PasswordConfirmation" class="form-password form-control" />
                    <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                </div>
                <button type="submit" class="btn" name="register">Register</button>
                <p>Already have an account? Click <a asp-controller="Account" asp-action="Login">here</a> to log in!</p>
            </form>
        </div>
    </div>
</div>